<div class="top-main">

    <div class="header-top">
        <div class="header-logo">
            <%=link_to("BookSalon","/")%>
        </div>
    </div>

    <div class="bg-slider">
        <%= render partial: 'login_form' %>
        <%= render partial: 'signup_form' %>
        <div class="top-message">
            <h2>Book extends the world</h2>
            <p>Let's meet a still unknown books！</p>
            <button type="button" class="btn btn-primary btn-lg bule"  data-toggle="modal" data-target="#LoginModal">Login</button>
            <button type="button" class="btn btn-success btn-lg green"  data-toggle="modal" data-target="#SignUpModal">SignUp</button>
        </div>
    </div>

</div>
