<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
            <br><br>
            <div class="container-fluid well span6">
              <div class="row-fluid">
                    <div class="span2" >
                      <img src="<%= "/user_images/#{@current_user.image_name}" %>">  
                    </div>

                    <div class="span8">
                        <h3><%= @current_user.name %></h3>
                        <h6><%= @current_user.name %></h6>
                        <h6><%= @current_user.email %></h6>
                        <h6>Old: 1 Year</h6>
                        <h6><a href="#">More... </a></h6>
                    </div>
                    
                    <div class="span2">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                                Action 
                                <span class="icon-cog icon-white"></span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><span class="icon-wrench"></span> Modify</a></li>
                                <li><a href="#"><span class="icon-trash"></span> Delete</a></li>
                            </ul>
                        </div>
                    </div>
              </div>
            </div>
　        </div>
     </div>
</div>

