<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="container">
            
            <br><br>
              <div class="row">
                      <div class="col-md-6 left_img" >
                        <img src="<%= "/user_images/#{@current_user.image_name}" %>"> 
                      </div>

                      <div class="col-md-6 prof_right">
                          <h3><%= @current_user.name %></h3> 
                          <h6><%= @current_user.name %></h6>
                          <h6><%= @current_user.email %></h6>
                          <h6>Old: 1 Year</h6>
                          <h6><a href="#">More... </a></h6>
                      </div>
               </div>        
            </div>
　        </div>
     </div>
</div>

