<%= render partial: 'header' %>
<%= render partial: 'user_profile_modal'%>
<%= render partial: 'post_form_modal' %>

<div class="posts-index">
    <div class="container">
        <%= render partial: 'search_result' %>
    </div>
</div>
    