/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-size: 14px;
}

.bluebottom {
    margin-left:8px;
}

header{
    position: relative;
}


/* top ================================ */
.top-main {
  padding :200px 0 380px;
  text-align: center;
  background-color: #eee;
}


.top-message {
  position: relative;
}

.top-main h2 {
  font-size: 85px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 20px;
}

.top-main p {
  font-size: 27px;
}
