.posts-index {
    background-color: #eee;
    background-repeat: no-repeat;
  }
 .container{
    text-align:center;
    margin:auto;
  }
  
  .card {
    width: 510px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin-top:60px;
    margin-left:20px;
    margin-right:20px;
    display: inline-block;
  }
  .card-img {
    border-radius: 5px 5px 5px 5px;
    max-width: 100%;
    height: auto;
  }
  .card-content {
    padding: 20px;
  }
  .card-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  .card-text {
    color: #777;
    font-size: 14px;
    line-height: 1.5;
  }
  .card-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 20px;
  }
  .card-link a {
    text-decoration: none;
    color: #0bd;
    margin: 0 10px;
  }
  .card-link a:hover {
    color: #0090aa;
  }

  nav.pagination {
  display: none;
}
  